.btn-primary{
    background: #149314;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    display: block;
    width: 105px;
    margin-bottom: 10px;
}

.btn-primary:hover{
    background-color: white;
    border: 2px solid #149314;
    color: #149314;
}