/*start globzl rules*/

html {
    scroll-behavior: smooth;
}
ul {
    text-decoration: none;
}
body {
    font-family:Arial, Helvetica, sans-serif ;
}
*{
    -webkit-box-sizing:border-box ;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;
}
li {
    list-style: none;
}
/*small*/

@media (max-width:425px) {
    header #cont nav .a input {
        display: hidden;
    }
}
@media (min-width:767px) {
    #cont{
        width: 750px;
    }
    .container {
        width: 750px;
    }
}
/*medium*/
@media (min-width:992px) {
    #cont {
        width: 970px;
    }
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
    #cont {
        width: 1300px;
    }
    .container {
        width: 1300px;
    }
}
/*end global rules*/


/*start header*/
body {
    background-color: rgb(243, 243, 243);
}
header {
    box-shadow: 0 0 5px #eeeeee;
    background-color: rgb(255, 255, 255);
}
#cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
header #cont .logo {
    font-weight: bold;
    font-size: 26px;
    color: #52aeff;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    header #cont .logo {
        width: 100%;
        font-size: x-small;
        height: 20px;
        display: flex;        
        align-items: center;
        justify-content: center;
    }
    .a {
        padding: 5px 5px;
        text-decoration: none;
        font-size: x-small;
    }
    header #cont nav .a {
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
header #cont nav  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
    flex-wrap: wrap;
}
header #cont nav ul {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    top: 100%;
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(146, 146, 146);
    display: flex;
    gap: 10px;
    z-index: -1;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
}
header #cont nav  .a:hover ul {
    opacity: 1;
    z-index: 1;
    transition: 0.5s;
}
header #cont nav .a ul li {
    width: auto;
    color: #52aeff;
    text-decoration: none;
    display: grid;
    padding: 5px;
}
header #cont nav .a ul li a {
    color: #52aeff;
    display: block;
    padding: 7px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    max-width: 240px;
    left: 0;
}
header #cont nav .a {
    padding: 20px 20px;
    text-decoration: none;
}
header #cont nav .a:hover {
    color: #52aeff;
    background-color: rgb(219, 219, 219);
    transition: 0.5s;
    border-radius: 10px;
}
@media (max-width:767px) {
    header #cont nav #cat-of-nav {
        display: none;
    }
}
.friv:hover {
    background-color: #d8d8d86e;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
/*end header*/
/* start section */
section {
    position: relative;
}
section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
section .container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
section .container .box img {
    max-width: 190px;
}
section .container .box .rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
section .container .box .rate div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
}
section .container .box .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
section .container .box .price h4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}
section .container .box .price p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;
    background-color: #52aeff;
    padding: 10px;
    border-radius: 623px;
    color: #9c0000;
}
section .container .box .read-more {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section .container .box .read-more p {
    font-weight: bold;
}
section .container .box .read-more a {
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}
section .container .box .read-more a:hover {
    color: #ff0000;
    background-color: rgba(119, 119, 119, 0.582);
    border-radius: 500px;
}
/* end section */